@import header
@import stats
  
.card
  background: white url(../images/bg-pattern-card.svg) no-repeat
  background-size: contain
  border-radius: 10px
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px
  
  width: 90%
  max-width: 22rem

  z-index: 1